h1{
   background-color: aquamarine;
}
#p1{
    background-color: rebeccapurple;
}
.even{
    background-color: beige;
}
.odd{
    background-color: blanchedalmond;
}
#p2{
    background-color: yellow;
}
body{
    background-color: black;
}